@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

*{
    padding: 0;
    margin: 0;
}

html, body { 
    font-family: Arial, Helvetica, sans-serif; 
} 

/*/////////////////// TELA DE LOGIN /////////////////////*/

section{
    min-height: 100vh;
    max-height: auto;
    background-image: url("./imagens/unicesumarbackground.png");
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.container{
    max-width: 1000px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 3px 5px 21px 10px rgb(36, 48, 59), 8px 21px 30px 20px rgb(71, 66, 66);
}

.box-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 0 20px;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 12px;
}

.box-login{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 30px;
    width: 80%;
    /* border: 3px solid red; */
}

.box-login input{
    font-size: 25px;
    height: 40px;
    width: 115%;
}


.entrar-login{
    margin-top: 32%; 
    cursor: pointer;
    font-size: 25px;
    border: none;
}

.entrar-login a{
    height: 200px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(14, 96, 204);
    text-decoration: none;
    color: #000000;
}

.entrar-login a:hover{
    background-color: #6c757a;
    color: #ffffff;
    transition: 0.5s;
}

/*/////////////////// FIM TELA DE LOGIN /////////////////////*/

/*/////////////////// INICIO TELA HOME /////////////////////*/
body{
    background-color: #878786;
}

header{
    padding: 10px;
    background-color: #20659F;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.voltar{
    margin-left: 20px;
    cursor: pointer;
    transition: transform .3s;
}

.voltar:hover{
    transform: scale(1.3);
    background-color: #ffffff;
    transition: 0.5s;
}

.aluno-logo{
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: transform .3s;
}

.aluno-logo:hover{
    transform: scale(1.3);
    background-color: #ffffff;
}

.wrap-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav{
    display: flex;
}

.title-comida{
    font-family: 'Ramabhadra', sans-serif;
    color: #ffffff;
    text-shadow: 5px 5px #000000;
    margin: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 35px;
}

.container-pedido{
    max-width: 45%;
    min-width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 5px 1px rgb(3, 68, 207), 0 10px 15px 10px rgb(0, 0, 0);
}

.img-qrcode{
    text-align: center;
}

.numero-qr-code h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid black;
}

.numero-qr-code h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
    border-radius: 20px;
    background-color: #20659F;
    color: #ffffff;
    cursor: pointer;
}

.numero-qr-code h3:hover{
    color: #000000;
    background-color: #80806f52;
    transition: 0.5s;
}

/*/////////////////////////////INICIO FOOTER///////////////////////////////////////*/
footer{
    margin-top: 80px;
    bottom: 0;
    width: 100%;
    background-color: #20659F;
}

nav ul{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

footer img{
    width: 70px;
    height: 70px;
}

.nav-footer a img:hover{
    transform: scale(1.3);
    background-color: #ffffff;
    transition: 0.5s;
}