@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

*{
    padding: 0;
    margin: 0;
}

html, body { 
    font-family: Arial, Helvetica, sans-serif; 
} 

/*/////////////////// TELA DE LOGIN /////////////////////*/

section{
    min-height: 100vh;
    max-height: auto;
    background-image: url("./imagens/unicesumarbackground.png");
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.container{
    max-width: 1000px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 3px 5px 21px 10px rgb(36, 48, 59), 8px 21px 30px 20px rgb(71, 66, 66);
}

.box-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 0 20px;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 12px;
}

.box-login{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 30px;
    width: 80%;
    /* border: 3px solid red; */
}

.box-login input{
    font-size: 25px;
    height: 40px;
    width: 115%;
}


.entrar-login{
    margin-top: 32%; 
    cursor: pointer;
    font-size: 25px;
    border: none;
}

.entrar-login a{
    height: 200px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(14, 96, 204);
    text-decoration: none;
    color: #000000;
}

.entrar-login a:hover{
    background-color: #6c757a;
    color: #ffffff;
    transition: 0.5s;
}

/*/////////////////// FIM TELA DE LOGIN /////////////////////*/

/*/////////////////// INICIO TELA HOME /////////////////////*/
body{
    background-color: #878786;
}

header{
    padding: 10px;
    background-color: #20659F;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.voltar{
    margin-left: 20px;
    cursor: pointer;
    transition: transform .3s;
}

.voltar:hover{
    transform: scale(1.3);
    background-color: #ffffff;
    transition: 0.5s;
}

.aluno-logo{
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: transform .3s;
}

.aluno-logo:hover{
    transform: scale(1.3);
    background-color: #ffffff;
}

.wrap-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav{
    display: flex;
}

.title-comida{
    font-family: 'Ramabhadra', sans-serif;
    color: #ffffff;
    text-shadow: 5px 5px #000000;
    margin: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 35px;
}

.ip-pesquisa{
    padding: 20px;
    margin: 0 auto;
    max-width: 40%;
}

.ip-pesquisa div{
    background-color: #20659F;
    display:flex; 
    justify-content: center;
    align-items: center;    
    border-radius: 20px;
    height: 60px;
}

.ip-pesquisa input{
    border-radius: 8px;
    margin: 0 20px 0 20px;
    width: 100%;
    height: 36px;
    font-size: 22px;
    border: none;
}

.ip-pesquisa img{
    border-radius: 8px;
    padding: 3px;
    margin: 0 20px 0 0;
    background-color: whitesmoke;
}


.container-pedido{
    max-width: 45%;
    min-width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 5px 1px rgb(3, 68, 207), 0 10px 15px 10px rgb(0, 0, 0);
}

.container-pedido-f{
    max-width: 40%;
    min-width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 5px 1px rgb(3, 68, 207), 0 10px 15px 10px rgb(0, 0, 0);
}

.parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 20px;
    align-self: center;
    justify-self: center;

}

.div1, .div2, .div3{
    margin: 10px;
    font-size: 40px;
}

.div4, .div5, .div6, .div7, .div8, .div9, .div10, .div11, .div12{
    font-size: 25px;
}

.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
    align-self: center;
    justify-self: center;
}
.div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    align-self: center;
    justify-self: center;
}
.div3 { 
    grid-area: 1 / 3 / 2 / 4; 
    align-self: center;
    justify-self: center;
}
.div4 { 
    grid-area: 2 / 1 / 3 / 2;
    align-self: center;
    justify-self: center; 

}
.div5 { 
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    justify-self: center; 
}
.div6 { 
    grid-area: 2 / 3 / 3 / 4;
    align-self: center;
    justify-self: center; 
}
.div7 { 
    grid-area: 3 / 1 / 4 / 2;
    align-self: center;
    justify-self: center; 
}
.div8 { 
    grid-area: 3 / 2 / 4 / 3;
    align-self: center;
    justify-self: center; 
}
.div9 { 
    grid-area: 3 / 3 / 4 / 4;
    align-self: center;
    justify-self: center; 
}
.div10 { 
    grid-area: 4 / 1 / 5 / 2;
    align-self: center;
    justify-self: center; 
}
.div11 { 
    grid-area: 4 / 2 / 5 / 3;
    align-self: center;
    justify-self: center; 
}
.div12 { 
    grid-area: 4 / 3 / 5 / 4;
    align-self: center;
    justify-self: center; 
}


.parent02 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: px;
    grid-row-gap: 0px;
    }
    
    .div01 { grid-area: 1 / 1 / 2 / 5; align-self:center; justify-self: center; }
    .div02 { grid-area: 2 / 1 / 3 / 2; align-self:center; justify-self: end; }
    .div03 { grid-area: 2 / 2 / 3 / 3; align-self:center; justify-self: center; }
    .div04 { grid-area: 2 / 3 / 3 / 4; align-self:center; justify-self: center; }
    .div05 { grid-area: 2 / 4 / 3 / 5; align-self:center; justify-self: center; }
    .div06 { grid-area: 3 / 1 / 4 / 2; align-self:center; justify-self: end; }
    .div07 { grid-area: 3 / 2 / 4 / 3; align-self:center; justify-self: center; }
    .div08 { grid-area: 3 / 3 / 4 / 4; align-self:center; justify-self: center; }
    .div09 { grid-area: 3 / 4 / 4 / 5; align-self:center; justify-self: center; }
    .div010 { grid-area: 4 / 1 / 5 / 2;align-self:center; justify-self: end;}
    .div011 { grid-area: 4 / 2 / 5 / 4;align-self:center; justify-self: center;}
    .div012 { grid-area: 4 / 4 / 5 / 5;align-self:center; justify-self: center;}
    .div013 { grid-area: 5 / 1 / 6 / 2;align-self:center; justify-self: end;}
    .div014 { grid-area: 5 / 2 / 6 / 4;align-self:center; justify-self: center;}
    .div015 { grid-area: 5 / 4 / 6 / 5;align-self:center; justify-self: center;}

.div01{
    font-size: 40px;
}

.div02, .div03 ,.div04 ,.div05 ,.div06 ,.div07 ,.div08 ,.div09 ,.div010,.div011,.div012,.div013,.div014,.div015{
    font-size: 25px;
    margin-bottom: 20px;
}

.parent-f {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 26px;
}

.parent-f h1{
    color: #20659F;
    text-transform: bold;
}

.parent-f b{
    font-size: 24px;
}


.div1f { grid-area: 1 / 1 / 2 / 4; align-self:center; justify-self: center;}
.div2f { grid-area: 2 / 1 / 3 / 4; align-self:center; justify-self: center;}
.div3f { grid-area: 3 / 1 / 4 / 2; align-self:center; justify-self: center;}
.div4f { grid-area: 3 / 2 / 4 / 3; align-self:center; justify-self: center;}
.div5f { grid-area: 3 / 3 / 4 / 4; align-self:center; justify-self: center;}
.div6f { grid-area: 4 / 1 / 5 / 2; align-self:center; justify-self: center;}
.div7f { grid-area: 4 / 2 / 5 / 3; align-self:center; justify-self: center;}
.div8f { grid-area: 4 / 3 / 5 / 4; align-self:center; justify-self: center;}
.div9f { grid-area: 5 / 1 / 6 / 2; align-self:center; justify-self: center;}
.div10f { grid-area: 5 / 2 / 6 / 3; align-self:center; justify-self: center;}
.div11f { grid-area: 5 / 3 / 6 / 4; align-self:center; justify-self: center;}
.div12f { grid-area: 6 / 2 / 7 / 3; align-self:center; justify-self: center;}
.div13f { grid-area: 7 / 2 / 8 / 3; align-self:center; justify-self: center;}
.div14f { grid-area: 8 / 2 / 9 / 3; align-self:center; justify-self: center; background-color: #00a128; color: whitesmoke; margin:10px ; padding: 12px; border-radius: 12px;}



.div14f-N{
    background-color: #a50000;
    color: whitesmoke;
}
.preco-final{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preco-final h1{
    margin: 30px 0 30px 0;
    font-size: 40px;
}

.preco-final h2{
    margin: 30px 0 30px 0;
    font-size: 50px;
}

.preco-final h3{
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: #000000;
}

.preco-final a{
    text-decoration: none;
}

.preco-final h3:hover{
    transition: 0.5s;
    background-color: rgb(0, 73, 6);
    color: #ffffff;
}


.pedido-pago-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 26px;
    text-transform:uppercase ;
}

.pedido-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-pedido-feito{
    padding: 20px;
}

.código{
    color: #20659F;
    font-size: 26px;
    padding: 20px;
}

.info-pedido{
    padding: 20px;
    font-size: 22px;
}
/*/////////////////////////////INICIO FOOTER///////////////////////////////////////*/
footer{
    margin-top: 80px;
    bottom: 0;
    width: 100%;
    background-color: #20659F;
}

nav ul{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

footer img{
    width: 70px;
    height: 70px;
}

.nav-footer a img:hover{
    transform: scale(1.3);
    background-color: #ffffff;
    transition: 0.5s;
}